*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
body{
    background-color: black;
    color: white;
}
.light{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightseagreen;
    padding: 14px 20px;
}
.dark{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(8, 54, 52);
    padding: 14px 20px;
}
.nav2{
    display: flex;
    gap: 30px;
}
button{
    padding: 10px 15px;
    margin: 20px;
    background: red;
    border: none;
    color: aliceblue;
    border-radius: 5px;
}