body{
  background-color: #111;
  color: #fff;
}
.card{
  background-color: red;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;

}
.nav{
  background-color: rgb(3, 65, 86);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}