.header{
  background: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h3{
  background-color: lightseagreen;
}
.btn{
  background-color: yellow;
  border: none;
}
.text{
  text-decoration: underline black;
}